@font-face {
  font-family: LuckiestGuy;
  src: url('../fonts/LuckiestGuy.otf');
}
@font-face {
  font-family: Gilroy;
  src: url('../fonts/gilroy-regular.ttf');
}

* {
  font-family: Bip;
  margin: 0;
  padding: 0;
}
div, p, span, h1, h2, h3, h4, img {
  -moz-user-select: -moz-none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(315deg, #EE1C27 -26.57%, #5B1CEA 97.67%);
  display: flex;
  align-items: center;
  justify-content: center;
}
canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}
#root {
  position: fixed;
}